@{
    ViewData["Title"] = "Home Page";
}

@model List<BridgeMonitor_Model>

<h1>Prochaine fermeture</h1>

<ul>
    @{
        Model.Sort((a, b) => a.ClosingDate.CompareTo(b.ClosingDate));
    }

    @foreach (var heures in Model)
    {
        var d1 = Convert.ToDateTime(DateTime.Now.ToString());
        var d2 = Convert.ToDateTime(@heures.ClosingDate);
        var d3 = Convert.ToDateTime(@heures.ReopeningDate);

        int result = DateTime.Compare(d2, d1);

        if (result == 1)
        {
            <li>La prochaine date de fermeture est @d2</li>
            <li>Et la prochaine date de réouverture après cette fermeture est @d3</li>
            break;
        }
    }
</ul>