@{
    ViewData["Title"] = "Home Page";
}

@model List<BridgeMonitor_Model>

<h1>Liste des stations</h1>

<ul>
    @foreach (var Bridges in Model)
    {
        <li>@Bridges.ClosingDate</li>
    }
</ul>